<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector
        friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [Ampere.Application]Ampere.Application.MQTT.*;
            [Ampere.Infrastructure]Ampere.Infrastructure.MQTT.Services.*
          </Include>
          <Exclude>
            [Ampere.Infrastructure]Ampere.Infrastructure.MQTT.Services.MqttBrokerHostedService
          </Exclude>
          <ExcludeByAttribute>
            CompilerGeneratedAttribute;
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
