<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector
        friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [Ampere]Ampere.*,
            [Ampere.Application]Ampere.Application.*,
            [Ampere.Domain]Ampere.Domain.*,
            [Ampere.Infrastructure]Ampere.Infrastructure.*,
            [Ampere.Composition]Ampere.Composition.*
          </Include>
          <Exclude>
            [Ampere]Microsoft.AspNetCore.OpenApi.Generated*,
            [Ampere]Microsoft.AspNetCore.Components.*.g__*,
            [Ampere]Microsoft.Extensions.*.g__*,
            [Ampere]System.*
          </Exclude>
          <ExcludeByAttribute>
            GeneratedCodeAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/*.g.cs,
            **/*.g.i.cs,
            **/obj/**/*.cs
          </ExcludeByFile>
          <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
